/*--------------------------
       ELEMENT STYLES
---------------------------*/ 

body {
  width: 100%;
  height: 100vh;
  background: url(Assets/freedom.jpg) no-repeat center;
  background-size: cover;
  color: #333;
  text-decoration: none;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.6
}

body {
  display: block;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
  padding-top: .2rem;
  text-align: center;
}

.quote {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2.6rem;
  font-weight: 800;
}

.author {
  font-family: 'Crimson Text', serif;
  font-size: 2.2rem;
  font-style: italic;
  font-weight: 800;
  padding-top: 1rem;
  letter-spacing: .1rem;    
}

p {
  display: block;
  margin: 4rem;
}

.languages {
  border: .15rem solid #333;
  border-radius: 5%;
  font-family: 'Crimson Text', serif;
  font-size: 1.6rem;
  font-style: italic;
  color: #333;
  font-weight: 800;
  text-decoration: none;
  padding: .4rem 1.5rem;
  margin: 1rem; 
}

.selected-language {
  border-color: lightgray;
  color: lightgray;
}

.languages:hover {
  border-color: lightgray;
  color: lightgray;
}

/*---------------------------------

          TABLET1 VERSION

-----------------------------------*/

@media (max-width: 1200px) {
  
html, body {
  margin: 0;
  padding: 0;
  font-size: 80%;
}
  
.wrapper {
    padding-top: 4rem;
  }
  
.author {
  padding-top: 6rem;
}
}
  
/*---------------------------------

          TABLET2 VERSION

-----------------------------------*/

@media (max-width: 980px) {
  
html, body {
  margin: 0;
  padding: 0;
  font-size: 70%;
}
  
.wrapper {
    padding-top: 4rem;
  }
  
.author {
  padding-top: 8rem;
}
}

/*---------------------------------

          MOBILE VERSION

-----------------------------------*/

@media (max-width: 750px) {
  
html, body {
  margin: 0;
  padding: 0;
  font-size: 50%;
  line-height: 1.6
}
  
.wrapper {
  width: 100%;
    padding-top: 1rem;
  }
  
p {
  margin: 2rem;
}

}